.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.crystal {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.well {
    width: 90%;
    margin-left: 70px;
    font-size: 20px;
}

h3 {
    margin-left: 70px;
}

